<!DOCTYPE html>
<html>

<head>
<title>ConceptCraft AI</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>

<h1>🧠 Study Mind AI</h1>

<div id="chat"></div>

<input id="input" placeholder="Enter topic">

<br><br>

<button onclick="sendRequest('explain')">Explain</button>
<button onclick="sendRequest('quiz')">Quiz</button>
<button onclick="sendRequest('exam')">Exam</button>
<button onclick="sendRequest('speak')">Speak</button>
<button onclick="sendRequest('confusion')">Confusion</button>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
